.btn{
    width: 120px;
    height: 35px;
    font-size: 10px;
    border-radius: 10px;
}

.btn-green{
    background-color: green;
    color: white;
}

.btn-pink{
    background-color: pink;
    color: black;
}

.btn-blue{
    background-color: blue;
    color: white;
}